In [1]:
import pandas as pd

In [2]:
indian_pincodes = pd.read_csv('indian_pincodes.csv')

In [9]:
indian_pincodes.dropna(inplace=True)

In [10]:
indian_pincodes.shape

(32919, 3)

In [12]:
indian_pincodes.STATE.unique()

array(['ANDAMAN & NICOBAR ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH',
       'ASSAM', 'Dibrugarh', 'BIHAR', 'Gopalganj', 'CHANDIGARH',
       'CHATTISGARH', 'DADRA & NAGAR HAVELI', 'DAMAN & DIU', 'DELHI',
       'GOA', 'GUJARAT', 'HARYANA', 'Haryana', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'Kargil', 'JHARKHAND', 'KARNATAKA',
       'Vijayapura', 'KERALA', 'LAKSHADWEEP', 'MADHYA PRADESH',
       'MAHARASHTRA', 'MANIPUR', 'Imphal West', 'Thoubal', 'MEGHALAYA',
       'Jaintia Hills', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PONDICHERRY',
       'PUNJAB', 'RAJASTHAN', 'Barmer', 'Jhujhunu', 'SIKKIM',
       'TAMIL NADU', 'Tirunelveli', 'Kanchipuram', 'TELANGANA', 'TRIPURA',
       'UTTAR PRADESH', 'Ballia', 'Varanasi', 'UTTARAKHAND',
       'WEST BENGAL'], dtype=object)

In [18]:
indian_pincodes_filtered = indian_pincodes[(indian_pincodes.STATE == 'DELHI') | (indian_pincodes.STATE == 'HARYANA')]

In [19]:
indian_pincodes_filtered.shape

(736, 3)

In [20]:
indian_pincodes_filtered.head()

     PINCODE       CITY  STATE
5867  110064  New Delhi  DELHI
5868  110055  New Delhi  DELHI
5869  110001  New Delhi  DELHI
5870  110011  New Delhi  DELHI
5871  110004  New Delhi  DELHI

In [21]:
indian_pincodes_filtered.to_csv('pincodes_delhi_haryana.csv', index=False)